@model IEnumerable<User>
@inject UserManager<User> userManager
@{
    ViewData["Title"] = "Kullanıcı Listesi";
}

<div class="card card-dark card-outline">
    <div class="card-header">
        <div class="card-title">Kullanıcı Listesi</div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Ad - Soyad</th>
                    <th>E-Posta</th>
                    <th>Cinsiyet</th>
                    <th>Doğum T.</th>
                    <th>Sipariş</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            @user.Name
                        </td>
                        <td>
                            @user.UserName
                        </td>
                        <td>
                            @if (user.Gender == Genders.Male)
                            {
                                <span>Erkek</span>
                            }
                            else
                            {
                                <span>Kadın</span>
                            }
                        </td>
                        <td>
                            @user.DateOfBirth?.ToShortDateString()
                        </td>
                        <td>
                            @user.Orders.Count().ToString() - @user.Orders.Sum(p => p.GrandTotal).ToString("c2")
                        </td>
                        <td>
                            <select class="custom-select role-menu">
                                @foreach (var role in @ViewData["Roles"] as SelectList)
                                {
                                    var result = userManager.IsInRoleAsync(user, role.Value).Result;
                                    if (result)
                                    {
                                        <option selected value="@role.Value">@role.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@role.Value">@role.Text</option>
                                    }

                                }
                            </select>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(() => {
            $('.role-menu').on('change', (e) => {
                $(e.currentTarget).val()
            });
        });
    </script>
}