@model IEnumerable<Rayon>
@{
    var name = "Reyon";
    ViewData["Title"] = $"{name} Yönetimi";
}

<div class="card card-outline card-primary">
    <div class="card-header">
        <h3 class="card-title">@name Listesi</h3>

        <div class="card-tools">
            <a asp-action="Create" class="btn btn-tool">
                <i class="fas fa-plus"></i> Yeni @name
            </a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="SortOrders" method="post">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th style="width: 10%">Sıralama</th>
                        <th style="width: 60%">@name Adı</th>
                        <th style="width: 10%">Eklenme Tarihi</th>
                        <th style="width: 10%">Durum</th>
                        <th style="width: 10%">İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <input type="number" value="@item.SortOrder" class="form-control" name="SortOrder_@item.Id" />
                            </td>
                            <td>@item.Name</td>
                            <td>@item.Date.ToShortDateString()</td>
                            <td>
                                @if (item.Enabled)
                                {
                                    <i class="fa fa-check text-success"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times text-danger"></i>
                                }
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-link">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-link remove-btn">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <button class="btn btn-sm btn-primary">Güncelle</button>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <partial name="_RemoveConfirmation" />
}